.marker-cluster {
	background-color: rgba($yellow, .5);
	border-radius: 2rem;

	div {
		background-color: $yellow;
		border-radius: 1.5rem;
		text-align: center;
		margin-left: .5rem;
		margin-top: .5rem;
		height: 3rem;
		width: 3rem;
	}

	span {
		line-height: 3rem;
	}
}
