#bottom {
	background-color: #000;
	padding: 3.5rem 0;
	margin: 6rem 0 0;

	.logo, .copy {
		vertical-align: middle;
		display: inline-block;
	}

	.logo {
		background-image: url('images/logo.png');
		background-position: 0% 50%;
		background-repeat: no-repeat;
		background-size: 334%;
		height: 60px;
		width: 60px;
	}

	.copy {
		float: right;
		color: #FFF;
		color: rgba(#FFF, 0.7);
		text-align: right;
		font-size: 1.4rem;
		margin: 2.3rem 0;
		line-height: 1;
	}
}

html.svgasimg #bottom {
	.logo {
		background-image: url('images/logo.svg');
	}
}

.footer-code {
	padding: 30px 15px;
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;

	.mono {
		color: #b7b7b7;
		font-size: 11px;
	}
}

.footer-logo {
	display: inline-block;
	max-width: 100px;
	opacity: .7;
}
