.map-bg {
	background-image: url('images/map.png');
	background-position: 135% 100%;
	background-repeat: no-repeat;
	background-size: 70%;
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.hero {
	padding-top: 132px;

	@extend %clearfix;

	h1 {
		@include hyphens();
		font-size: 3.6rem;
		font-weight: 300;
	}

	p {
		font-size: 2rem;
	}

	.countries {
		.button {
			font-size: 1.6rem;

			.flag {
				vertical-align: middle;
				display: inline-block;
				margin: 0 5px 0 0;
				width: 30px;
			}

			& + .button {
				margin-left: 20px;
			}
		}
	}
}


.map-container .hero {
	align-items: center;
	align-self: center;
	min-height: 100vh;
	display: flex;
}

html.svgasimg {
	.map-bg {
		background-image: url('images/map.svg');
	}
}
