.map-container {
	background: map-get($gradient, from);
	background: -webkit-linear-gradient(45deg, map-get($gradient, from) 0%, map-get($gradient, to) 100%);
	background:    -moz-linear-gradient(45deg, map-get($gradient, from) 0%, map-get($gradient, to) 100%);
	background: 		linear-gradient(45deg, map-get($gradient, from) 0%, map-get($gradient, to) 100%);

	min-height: 100vh;
	color: #FFF;

	&, .container {
		position: relative;
	}

	&.map-closed {
		#map {
			visibility: hidden;
			opacity: 0;
		}
	}
	&.map-open {
		#map {
			visibility: visible;
			opacity: 1;
		}
	}
}

#map {
	// Base color of current tileset
	background-color: #242426;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
