.front-sections .entry-partners,
.entry-news {
	justify-content: space-around;
	align-items: stretch;
	text-align: center;
	flex-wrap: wrap;
	display: flex;

	.entry {
		transition: box-shadow .3s, margin .3s;
		background-color: #FFF;
		text-decoration: none;
		margin: 0 0 5rem;
		width: 100%;

		&:hover {
			box-shadow: 0 2rem 3rem 0 rgba(#000, .2);
			margin: -1rem 0 6rem;
		}

		img {
			margin: 0 auto 3rem;
			display: block;
		}

		.entry-title {
			font-size: 1.8rem;
			margin: 0;
		}
	}
}

.entry-partners .entry,
.entry-news .entry {
	box-shadow: 0 .5rem .8rem 0 $gray90;
	border: 1px solid $gray90;
	text-decoration: none;
	margin-bottom: 5rem;
	display: block;
	padding: 3rem;

	img {
		margin: 0 auto 3rem;
		display: block;
	}

	.entry-title, .entry-desc {
		color: $mid-gray;
	}

	.entry-title {
		font-size: 2.2rem;
		font-weight: 300;
		margin: 0;

		+ .entry-desc:not(:empty) {
			margin-top: 2.5rem;
		}
	}

	.entry-desc {
		font-size: 1.6rem;
		line-height: 1.5;
	}

	.button {
		margin-top: 3rem;
	}
}

@media (min-width: map-get($breakpoints, small)) {
	.front-sections .entry-partners,
	.entry-news {
		.entry {
			width: 45.5%;
		}
	}
}


@media screen and (min-width: map-get($breakpoints, medium)) {
	.front-sections .entry-partners,
	.entry-news {
		.entry {
			width: 22.275%;
		}
	}

	.page-template-page-partner .entry-partners .entry {
		.size-partner-logo-large, .entry-content {
			vertical-align: middle;
			display: inline-block;
		}

		.size-partner-logo-large {
			width: 24.272%;
			margin: 0;

			+ .entry-content {
				padding-left: 4.855%;
			}
		}

		.entry-content {
			width: 75%;
		}
	}
}
